* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    color: white;
    letter-spacing: 3px;
}
#container {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111218e0;
    font-size: larger;
    padding: 30px;
    padding-left: 50px;
    box-shadow: 0 0 10px black;
}
a {
    color: rgb(255, 87, 87);
    text-decoration: none;
}
fieldset {
    padding-top: 2em;
    border: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 50px 100px  100px 10px rgba(14, 8, 17, 0.534);
}
label {
    font-size: 0.8em;
    display: block;
    width: fit-content;
    margin-bottom: 5px;
}
input {
    width: 15em;
    height: 60%;
    border-radius: 5px;
    border: none;
    margin-right: 3em;
    background-color: #63668a67;
    box-shadow: 0 0 10px black;
}
#container > p {
    font-size: 1.2em;
    color: #d8d8d8;
    font-weight: bold;
}
fieldset legend {
    position: absolute;
    top: 10px;
    font-size: 2em;
    color: rgb(255, 178, 36);
}
p:has(#name), p:has(#last-name) {
    margin-top: 30px;
}
fieldset > p {
    margin-right: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 177);
}
button {
    background-color: #d62c4073;
    color: rgb(222, 255, 75);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    font-weight: bolder;
    font-size: 0.7em;
    box-shadow: 0 0 100px 10px rgb(49, 42, 42);
    transition: 0.5s ease-out;
}
button:hover {
    background-color: black;
}
input:required {
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    background-color: #a8aca344;
}
input:hover {
    background-color: #111218b9;
}
input:focus, input:active {
    border: none;
    box-shadow: 0 0 10 white;
}